@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:wght@300;400&display=swap");
@import url("error.css");
@import url("information.css");
@import url("loader.css");
@import url("posts.css");
@import url("contact.css");
@import url("search.css");
@import url("switch.css");
@import url("user_conf.css");
@import url("footer.css");
@import url("dark_mode.css");

html {
   box-sizing: border-box;
   font-size: 16px;
   font-family: "Ubuntu", sans-serif;
   --blue: #01579b;
   --blue-hover: #00b0ff;
   --dark: #343a40;
   --white: #fff;
   --white-light: #f1f1f1;
   --gray: rgba(0, 0, 0, 0.4);
   --black: #1a1728;
   --x-lg: 18px;
   --lg: 16px;
   --md: 14px;
   --sm: 12px;
}
*,
*:before,
*:after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   background-color: var(--white-light);
   font-family: "Roboto", sans-serif;
   position: relative;
}

#root {
   position: relative;
   height: 100vh;
}

#main {
   margin: 1rem auto;
   max-width: 1200px;
   padding-top: 10px;
   margin-top: 30px;
}

a {
   color: var(--blue);
   transition: 0.3s color ease;
   text-decoration: none;
}

a:hover {
   color: var(--blue-hover);
}

h1 {
   text-align: center;
   font-family: "Lemon", cursive;
}

h2 {
   text-align: center;
   font-weight: 400;
}

img {
   width: 100%;
   height: auto;
}

.d-none {
   display: none !important;
}

/* MENU */
.menu {
   display: block;
   text-align: center;
   margin-top: 30px;
}

.header .menu a {
   text-decoration: none;
   margin: 10px;
   font-size: 14px;
   font-weight: 400;
}
.header .menu a.active {
   cursor: pointer;
   color: var(--blue-hover);
}
